.buttonColor {
    background-color: red;
}
.bannerColor {
    background-color: white;
}
.bannerPhoto {
    width: 350px;
}
.size {
    font-size: 5.25rem;
}
.anchorColor {
    color: red;
}
li:hover a {
    color: white;
}
.inputSize {
    padding-bottom: 136px;
    padding-top: 16px;
}
img {
    border-radius: 8px;
}
.imgMargin {
    margin: 20px;
}
.messageColor {
    color: black;
}
.shareMargin {
    margin-top: 96px;
}
/* .youMargin {
    margin-right: 20px;
} */
.paddingInsta {
    margin-left: 20px;
}
.off-canvas {
    background: rgb(118, 121, 120);
}
.marginTop{
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .size {
        font-size: 4.25rem;
    }
    .shareMargin {
        margin-top: 0px;
    }
    .imgMargin {
        margin: 5px;
    }
    .paddingInsta {
        margin-left: 0px;
    }
  }