.buttonColor {
    background-color: red;
}
.bannerColor {
    background-color: white;
}
.bannerPhoto {
    width: 350px;
}
.size {
    font-size: 5.25rem;
}
.anchorColor {
    color: red;
}
li:hover a {
    color: white;
}
.inputSize {
    padding-bottom: 136px;
    padding-top: 16px;
}
img {
    border-radius: 8px;
}
.imgMargin {
    margin: 20px;
}
.messageColor {
    color: black;
}
/* .youMargin {
    margin-right: 20px;
} */