.buttonColor {
    background-color: red;
}
.bannerColor {
    background-color: white;
}
.bannerPhoto{
    width: 350px;
}
.size {
    font-size: 5.25rem;
}
.anchorColor{
    color: red;
}
li:hover a{
    color: white;
}